.myDiv {
  position: relative;
  z-index: 1;
}

.myDiv .bg {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("https://source.unsplash.com/random/800x600") center center;
  opacity: .4;
  width: 100%;
  height: 100%;
}